.conten{
    background-color: #160e1e;
    padding: 50px 0 70px 0;
    position: relative;
    margin-bottom: -50px;
    border-top: 2px solid #ae903b;
}
.cont-news-tab{
    width: 1140px;
    margin: 0 auto 50px auto;
}
.tab-link{
    width: 846px;
    height: 58px;
    margin: 0 auto;
    padding: 0 30px;
}
.cont-news-tab .tab-link li {
    width: 25%;
}
.tab-link li {
    display: inline-block;
    padding: 0 20px;
    float: left;
}

.tab-link li:hover a{
    background: url("image/tab-link.png") bottom center no-repeat !important;
    font-weight: bold;
    color: #000;
    background-size: 100% 100% !important;
}


.tab-link a {
    text-transform: capitalize;
    line-height: 58px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    background: url("image/tab-link-k.png") bottom center no-repeat;
    background-size: 100% 100%;
}
.inner-page {
    width: 1168px;
    margin: 0 auto;
    position: relative;
}
.news-list{
    width: 1168px;
    height: 1800px;
}
.news-tab{
    overflow: hidden;
    width: 1168px;
    height: 1790px;
}
.news-tab li {
    border-bottom: 1px solid #374451;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.news-tab li .postnews {
    position: relative;
}
.news-tab .img {
    float: left;
    width: 30%;
}
.news-tab .img img {
    width: 100%;
    border: 1px solid #ae903b;
}
.news-tab li .script {
    padding: 10px 0 10px 20px;
    float: left;
    width: 70%;
}
.script .linkpost {
    font-size: 18px;
    color: #cfc39b;
    font-weight: bold;
    text-transform: uppercase;
}
.script .date {
    font-size: 16px;
    color: #808285;
    text-transform: uppercase;
}
.news-tab .script .tomtat {
    color: #75648c;
    margin-top: 10px;
}
.news-tab li {
    border-bottom: 1px solid #374451;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.news-list .xemthem a{
    text-align: center;
    font-size: 26px;
    color: #cfc39b;
    display: block;
    line-height: 8px;
}

